.header{
    border: 1px solid black;
    border-radius: 4px;
    padding:4px;
}

.navigation{
    list-style: none ;
    background-color: red;
    display: flex;
    
}

.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navigation a:hover{
    color: #F0F0F0;
    text-decoration: underline;
}